.form-group {
    font-size: 1.5em;
}

#main {
    background-color: rgb(0, 0, 20);
    opacity: 0.8;
    border-radius: 10px;
    color: white;
    padding: 1.5em;
}

body {
    background: url(coding.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 2;
    width: 50%;
    margin-top: 20px;
    display: block;
    margin: 0 auto;
}

#title {
    text-align: center;
    font-size: 6vh;
    font-weight: 300;
    margin-bottom: 0;
}

#description {
    text-align: center;
    font-weight: 300;
}

input[type=text], input[type=email], input[type=number], select {
    width: 100%;
    height: 2.5em;
    border-radius: .5vw;
    font-family: inherit;
    padding-left: 10px;
}

select {
    height: 3em;
}

textarea {
    width: 100%;
    min-height: 120px;
    font-family: inherit;
    resize: vertical;
    padding-left: 10px;
    padding-top: 5px;
}

button {
    width: 100%;
    text-align: center;
    padding: .5rem;
    font-family: inherit;
    background-color: deepskyblue;
    border-color: deepskyblue;
    border-radius: .5vw;
    font-size: 1.05em;
    margin-top: 3%;
    cursor: pointer;
}

p {
    margin: 0;
}

footer {
    text-align: right;
    font-size: .75em;
}
